p {
    color: red;
    align-items: center;
    text-align: center;
}

body {
    width: 100%;
    text-align: center;
    background-color: powderblue;
    align-self: center;
}



img {
    width: 128;
    height: 128;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: wheat;
    width: 100%;
}